@tailwind base;
@tailwind components;
@tailwind utilities;
/* italic transition ease-in-out delay-75 hover:text-neutral-300 hover:after:-translate-x-6 after:transition-all after:opacity-0 hover:after:opacity-100 after:delay-50 after:absolute after:-right-[35%] md:after:-right-[50%] sm:hover:after:content-['\2190']; */

input::placeholder {
  text-align: center;
  vertical-align: middle;
  line-height: 0px;
}
body {
  overflow-y: auto;
}
h3 {
  font-size: 30px;
}
@layer components {
  .ulTree {
    @apply italic  transition ease-in-out;
  }

  .ulTree::after {
    @apply absolute opacity-0 transition-all delay-75;
  }
  .ulTree:hover::after {
    @apply -translate-x-6 opacity-100;
  }
}
@layer {
  .navLink {
    @apply relative tracking-wider hover:text-neutral-400;
  }
  .navLink::after {
    @apply absolute -bottom-2 left-0 h-[3px] w-[0] rounded-sm bg-sky-600  duration-500 content-[''] dark:bg-red-900;
  }

  .navLink:hover::after {
    @apply w-[100%] blur-xl;
  }
}
